<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
      <i class="fas fa-ubuntu"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
        <a class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item" [routerLink]="['/users']" [routerLinkActive]="'active'">
        <a class="nav-link">Users</a>
      </li>
    </ul>
    <div class="icons">
        <i class="fas fa-sign-out-alt" (click)="logout()"></i>
    </div>
  </div>
</nav>
