/* You can add global styles to this file, and also import other style files */
@import './variables';

body {
    background-color: $bg-color;
    font-size: 15px;
    font-weight: 500;
    font-family: $f-family;
}
